In [41]:
import numpy as np
import pandas as pd
import datetime

In [42]:
weather = pd.read_csv('data/bulk_weather.csv')

In [43]:
print(f'Number of rows: {weather.shape[0]}', '\n', f'Number of columns: {weather.shape[1]}', '\n', f'Column names: {list(weather.columns)}')

Number of rows: 402463
 Number of columns: 25
 Column names: ['dt', 'dt_iso', 'timezone', 'city_name', 'lat', 'lon', 'temp', 'feels_like', 'temp_min', 'temp_max', 'pressure', 'sea_level', 'grnd_level', 'humidity', 'wind_speed', 'wind_deg', 'rain_1h', 'rain_3h', 'snow_1h', 'snow_3h', 'clouds_all', 'weather_id', 'weather_main', 'weather_description', 'weather_icon']

In [44]:
weather[['dt', 'dt_iso', 'timezone']].tail()

                dt                         dt_iso  timezone
402458  1611514800  2021-01-24 19:00:00 +0000 UTC    -28800
402459  1611518400  2021-01-24 20:00:00 +0000 UTC    -28800
402460  1611522000  2021-01-24 21:00:00 +0000 UTC    -28800
402461  1611525600  2021-01-24 22:00:00 +0000 UTC    -28800
402462  1611529200  2021-01-24 23:00:00 +0000 UTC    -28800

In [45]:
weather['date'] = pd.to_datetime(weather['dt'], unit='s')

In [46]:
weather[['date', 'dt']].tail()

                      date          dt
402458 2021-01-24 19:00:00  1611514800
402459 2021-01-24 20:00:00  1611518400
402460 2021-01-24 21:00:00  1611522000
402461 2021-01-24 22:00:00  1611525600
402462 2021-01-24 23:00:00  1611529200

In [47]:
weather = weather.set_index(['date', 'city_name']).rename_axis(index=['date', 'city']).sort_index(ascending=False)

In [48]:
print(weather.index)

MultiIndex([('2021-01-24 23:00:00', 'San Francisco'),
            ('2021-01-24 23:00:00',      'New York'),
            ('2021-01-24 23:00:00',         'Miami'),
            ('2021-01-24 22:00:00', 'San Francisco'),
            ('2021-01-24 22:00:00',      'New York'),
            ('2021-01-24 22:00:00',         'Miami'),
            ('2021-01-24 21:00:00', 'San Francisco'),
            ('2021-01-24 21:00:00',      'New York'),
            ('2021-01-24 21:00:00',         'Miami'),
            ('2021-01-24 20:00:00', 'San Francisco'),
            ...
            ('2006-01-01 03:00:00',         'Miami'),
            ('2006-01-01 02:00:00', 'San Francisco'),
            ('2006-01-01 02:00:00',      'New York'),
            ('2006-01-01 02:00:00',         'Miami'),
            ('2006-01-01 01:00:00', 'San Francisco'),
            ('2006-01-01 01:00:00',      'New York'),
            ('2006-01-01 01:00:00',         'Miami'),
            ('2006-01-01 00:00:00', 'San Francisco'),
            ('2006-01-01 00:00:00',      'New York'),
            ('2006-01-01 00:00:00',         'Miami')],
           names=['date', 'city'], length=402463)

In [ ]:
# want lat longs to be in their own column as a tuple of (lat, long)

# extract rolling time series features for temp